:root {
  --primary-color: #4f46e5;
  --primary-hover: #4338ca;
  --bg-color: #f3f4f6;
  --text-color: #1f2937;
  --nav-bg: #ffffff;
  --danger: #ef4444;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* --- NAVBAR --- */
.navbar {
  background-color: var(--nav-bg);
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.8rem 30px;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);

  .logoIcon {
    font-size: 1.8rem;
  }
}

.navLinks {
  display: flex;
  gap: 10px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #6b7280;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e0e7ff;
    color: var(--primary-color);
  }

  &.active {
    background-color: var(--primary-color);
    color: white;
  }
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--danger);
  border: 1px solid var(--danger);
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--danger);
    color: white;
  }
}

/* --- CONTENT --- */
.mainContent {
  margin-bottom: 10px;
  padding-bottom: 50px;
  width: 100%;
}

.contentCard {
  background: white;
  border-radius: 12px;
  box-shadow: var(--shadow);
  min-height: 90vh;
}
.userSection {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .navbarContent {
    flex-direction: column;
    gap: 15px;
  }

  .navLinks {
    width: 100%;
    justify-content: center;
    font-size: 14px;
  }

  .navItem span {
    display: none;
  }

  .contentCard {
    padding: 15px;
  }
}
