$primary: #4f46e5;
$border: #e5e7eb;
$text: #1f2937;

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.pageHeader {
  //   margin-bottom: 30px;
  h2 {
    font-size: 1.8rem;
    color: $text;
    font-weight: 700;
    margin: 0;
  }
  p {
    color: #6b7280;
    margin-top: 5px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; // 2 ta teng ustun
  gap: 30px;

  @media (max-width: 850px) {
    grid-template-columns: 1fr; // Mobilda ustma-ust
  }
}

.card {
  background: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
  border: 1px solid $border;
  height: fit-content;

  h3 {
    margin:0 0 20px 0;
    font-size: 1.2rem;
    color: $text;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      color: $primary;
    }
  }
}

/* --- AVATAR UPLOAD --- */
.avatarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;

  .imageWrapper {
    position: relative;
    width: 110px;
    height: 110px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid #f3f4f6;
    }

    .editIcon {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $primary;
      color: white;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 2px solid white;
      transition: 0.2s;

      &:hover {
        background: darken($primary, 10%);
      }
    }
    input {
      display: none;
    }
  }
}

.formGroup {
  margin-bottom: 18px;

  label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #4b5563;
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid $border;
    border-radius: 8px;
    font-size: 0.95rem;
    outline: none;
    transition: 0.2s;
    background: #f9fafb;

    &:focus {
      background: white;
      border-color: $primary;
      box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
    }
  }
}

.saveBtn {
  width: 100%;
  padding: 12px;
  background: $primary;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover {
    background: darken($primary, 5%);
  }
  &:active {
    transform: scale(0.98);
  }
}
