@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #4f46e5;
  --primary-hover: #4338ca;
  --bg-color: #f3f4f6;
  --text-color: #1f2937;
  --nav-bg: #ffffff;
  --danger: #ef4444;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
h1,h2,h3,p{
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Umumiy Container (sahifa o'rtasi uchun) */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}